[submodule ".themes/octofound"]
	path = .themes/octofound
	url = https://github.com/annejohnson/octofound.git
[submodule ".themes/darkstripes"]
	path = .themes/darkstripes
	url = https://github.com/amelandri/darkstripes.git
